:root {
  --appbar-height: 60px;
  --font-primary: #000;
  --font-secondary: #5b5b5b;
  --palette-primary: #7879f1;
  --palette-secondary: #ef5b5b;
  --surface-primary: #fff;
  --surface-secondary: #f2f2f2;
  --shadow-color: rgba(0, 0, 0, 0.25);

  --content-max-width: 680px;
  --content-min-horizontal-margin: 16px;
  --content-horizontal-margin: max(
    var(--content-min-horizontal-margin),
    calc((100vw - var(--content-max-width)) / 2)
  );
}
:root.dark {
  --font-primary: #fff;
  --font-secondary: #f4f4f4;
  --palette-primary: #7879f1;
  --palette-secondary: #ef5b5b;
  --surface-primary: #000;
  --surface-secondary: #444;
  --shadow-color: rgba(255, 255, 255, 0.25);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.25;
}

body {
  color: var(--font-primary);
  background-color: var(--surface-primary);
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: 400;
  margin: 0;
}

.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}

.text-title-1 {
  font-size: 2.8rem;
}
.text-title-2 {
  font-size: 2rem;
}
.text-title-3 {
  font-size: 1.6rem;
}
.text-subtitle {
  font-size: 1.2rem;
}
.text-body {
  font-size: 1rem;
}
.text-overline {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.text-caption {
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  .text-title-1 {
    font-size: 3.5rem;
  }
  .text-title-2 {
    font-size: 2.5rem;
  }
  .text-title-3 {
    font-size: 1.75rem;
  }
  .text-subtitle {
    font-size: 1.25rem;
  }
  .text-overline {
    font-size: 0.875rem;
  }
  .text-caption {
    font-size: 0.75rem;
  }
}

.text-color-font-primary {
  color: var(--font-primary);
}
.text-color-font-secondary {
  color: var(--font-secondary);
}
.text-color-primary {
  color: var(--palette-primary);
}

a {
  color: var(--palette-secondary);
}
a:active {
  color: var(--palette-primary);
}

/* .appbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--appbar-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;

  background-color: var(--surface-secondary);
  box-shadow: 0px 2px 4px var(--shadow-color);
  z-index: 1;
}

.appbar > svg {
  width: 44px;
  height: 40px;

  color: var(--palette-primary);
}
.appbar > nav > ol {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}
.appbar > nav > ol > * + * {
  margin-left: 56px;
} */

.content.banner {
  /* margin: calc(200px + var(--appbar-height)) auto 200px; */
  margin: 200px var(--content-horizontal-margin);
}
.content.banner > p {
  max-width: 520px;
}
.banner > h1 {
  margin-top: 8px;
  margin-bottom: 40px;
}

.content {
  margin: 120px var(--content-horizontal-margin);
  max-width: var(--content-max-width);
}
.content > section {
  position: relative;
  margin-top: 48px;
}

.icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  color: var(--font-secondary);
}
.icon svg {
  width: 100%;
  height: 100%;
}

.grid > section > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  column-gap: 20px;
  row-gap: 12px;
}
.grid > section > ul > li {
  display: flex;
  align-items: center;
}
.grid > section > ul > li > svg {
  transition: transform 160ms cubic-bezier(0.22, 0.61, 0.36, 1);
  transform-origin: 115% 60%;
}
.grid > section > ul > li:hover > svg {
  color: var(--palette-primary);
  transform: rotate(15deg);
}
.grid > section > ul > li > .icon {
  margin-right: 12px;
}

.list > section {
  display: flex;
}
.list > section:hover > .icon {
  color: var(--palette-primary);
}
.list > section h6 {
  margin-top: 6px;
  margin-bottom: 2px;
}
.list .icon {
  margin-right: 12px;
}
.list .date {
  margin-bottom: 8px;
}

@media (max-width: 1099px) {
  .label {
    margin-bottom: 24px;
  }

  .list > section {
    flex-wrap: wrap;
  }
  .list .label {
    flex-basis: 100%;
  }
  .list .description {
    flex: 1;
  }
}

@media (min-width: 1100px) {
  .label {
    position: absolute;
    width: fit-content;
    top: 12px;
    right: calc(100% + 20px);
    text-align: right;
  }

  .list > section {
    top: 6px;
  }
}
