:root {
  --appbar-height: 60px;
  --font-primary: #000000;
  --font-secondary: #5b5b5b;
  --palette-primary: #7879f1;
  --surface-primary: #ffffff;
  --surface-secondary: #f2f2f2;
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.25;
}

body {
  color: var(--font-primary);
  background-color: var(--background);
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: 400;
  margin: 0;
}

.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}

.text-title-1 {
  font-size: 4rem;
}
.text-title-2 {
  font-size: 3rem;
}
.text-title-3 {
  font-size: 2rem;
}
.text-subtitle-1 {
  font-size: 1.5rem;
}
.text-subtitle-2 {
  font-size: 1.25rem;
}
.text-body-1 {
  font-size: 1.125rem;
}
.text-body-2 {
  font-size: 1rem;
}
.text-overline {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.text-caption {
  font-size: .75rem; 
}

.text-color-font-primary {
  color: var(--font-primary);
}
.text-color-font-secondary {
  color: var(--font-secondary);
}
.text-color-primary {
  color: var(--palette-primary);
}

.appbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--appbar-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;

  background-color: var(--surface-secondary);
  box-shadow: var(--shadow);
  z-index: 1;
}

.appbar > nav > ol {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}
.appbar > nav > ol > * + * {
  margin-left: 56px;
}

.content.banner {
  margin: calc(200px + var(--appbar-height)) auto 200px;
} 
.content.banner > p {
  max-width: 520px;
}
.banner > h1 {
  margin-top: 8px;
  margin-bottom: 40px;
}

.content {
  margin: 120px auto;
  max-width: 680px;
}
.content > * + * {
  margin-top: 48px;
}
.content > section {
  position: relative;
}

.label {
  position: absolute;
  width: fit-content;
  top: 8px;
  right: calc(100% + 20px);
  text-align: right;  
}

.avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #c4c4c4;
  border-radius: 20px;
}
.icon {
  width: 40px;
  height: 40px;
  color: var(--font-secondary);
}
.icon svg {
  width: 100%;
  height: 100%;
}

.skills > section > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 12px;
}
.skills > section > ul > li {
  display: flex;
  align-items: center;
}
.skills > section > ul > li:hover > svg {
  color: var(--palette-primary);
}
.skills > section > ul > li > .avatar, .skills > section > ul > li > .icon {
  flex-shrink: 0; 
  margin-right: 12px;
}
 
.experience > section {
  display: flex;
}
.experience .label {
  top: 2px;
}
.experience .avatar {
  margin-right: 12px;
}
.experience > section h6 {
  margin-top: 6px;  
  margin-bottom: 8px; 
}